@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
    --orange:#ff7800;
}

*{
    font-family: 'Cinzel', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 100.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

.header{
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#777;
    color:white;
}


.navbar{
    display:flex;
    padding:10px;
    justify-content: center;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
   
}

.header .navbar a{
    font-size: 1.1rem;
    margin:0 1rem;
    color:var(--white);
}

.header .navbar a:hover{
    color:var(--orange);
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.title {
  display:flex;
    padding:70px;
    color: var(--orange);
    justify-content: center;
    background: rgba(0, 0, 0, 0.815);
}

.title h1 {
    text-align: center;
    font-size: 60px;
    color: var(--orange);
}

.cartBtn{
  position: absolute;
  right: 2%;
}