:root{
  --orange:#ff7800;
}

.form {
  text-align: right;
}

.form button {
  bottom: 0;
  font: inherit;
  cursor: pointer;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}