.card {
    width: 50%;
}
.form {
    align-items: center;
}

.control {
    align-items: center;

}

.control label {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    padding: 0.2rem;
    border: 1px solid #ccc;
    font: inherit;
    border-radius: 12px;
}

.control button {
    padding: 5px;
    margin-top: 0.5rem;
}